body {
    display: flex;
    justify-content: left;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

iframe {
    border-radius: 8px;
}